<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>WeiboMood</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/cordova.oauth2.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/angular-charts.min.js"></script>
    <script src="js/app.js"></script>
    
    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>

<script>
    
    document.addEventListener("deviceready", onDeviceReady, false);

    function onDeviceReady() {
        $.ajax({
            url: "http://114.215.210.127/signin/",
            type: "GET",
            success: function(result) {          
                if (result.login === 'false') {
                    window.localStorage.clear();
                    window.localStorage.setItem('logged', 'false');
                }
                else if (result.login === 'true') {
                    $.ajax({
                        url: "http://114.215.210.127/vtoken/",
                        type: "GET",
                        success: function(result) {
                            if (result.expired === 'false') { 
                                window.localStorage.setItem('authed', 'true');
                                window.localStorage.setItem('access_token', result.token);
                            }
                            else { window.localStorage.setItem('authed', 'false'); 
                            }
                        }
                    });
                    window.localStorage.setItem('logged', 'true');
                }
            },
            error: function() {
                $.ajax({
                    url: "http://114.215.210.127/logout/",
                    type: "GET",
                    dataType: "json"
                });
                window.localStorage.setItem('logged', 'false');
            }
        });
    }

</script>
</head>

<body>
    <ion-nav-bar class="nav-title-slide-ios7 bar-stable">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>

<script id="splash.html" type="text/ng-template">
    <ion-view hide-nav-bar="true">
        <ion-content scroll="false">
            <p class="title-center" style="margin-top:250px;">心情V</p>
        </ion-content>
    </ion-view>
</script>
    
<script id="main.html" type="text/ng-template">
<ion-view hide-nav-bar="true" class="front-page" ng-style="{'background-image':'url(img/'+img+')'}">
    <ion-content scroll="false">
        <div class="row">
            <div class="col"><p class="title-center" style="margin-top:40px;">心情V</p></div>
        </div>
        <div id="form-container">
            <div ui-view name="form" class="well"></div>
        </div>
    </ion-content>
</ion-view>
</script>
    
<script id="buttons.html" type="text/ng-template">
    <div class="center">
    <div class="icon-container">
        <div class="icon-center"><img src="img/happy-small.png"></div>
        <div class="icon-center"><img src="img/cry-small.png"></div>
    </div>
    <div class="icon-container">
        <div class="icon-center"><img src="img/angry-small.png"></div>
        <div class="icon-center"><img src="img/shy-small.png"></div>
    </div>
    </div>
    <div class="row">
        <div class="col"><button class="button button-block button-outline button-positive" ng-click="signup()">注册</button></div>
        <div class="col"><button class="button button-block button-outline button-positive" ng-click="signin()">登录</button></div>
    </div>
    <a href="#"><p class="center">不用了，直接绑定社交账户</p></a>
</script>
    
<script id="signup.html" type="text/ng-template">

    <div class="list list-inset">
        <label class="item item-input item-floating-label">
            <span class="input-label">用户名</span>
            <input type="text" ng-model="signup.username" placeholder="用户名">
            <p ng-show="usernameMsg" class="help-block" style="color:#ef4e3a;">{{usernameMsg}}</p>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">密码</span>
            <input type="password" ng-model="signup.password" placeholder="密码">
            <p ng-show="passwordMsg" class="help-block" style="color:#ef4e3a;">{{passwordMsg}}</p>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">邮箱</span>
            <input type="email" ng-model="signup.email" placeholder="邮箱">
            <p ng-show="emailMsg" class="help-block" style="color:#ef4e3a;">{{emailMsg}}</p>
        </label>
    </div>
    <div class="padding">
        <div id="error"></div>
        <button nav-clear class="button button-block button-positive" ng-click="submit(signup)">注册</button>
        <p class="text-center"><a ui-sref="main.buttons" class="button button-icon icon ion-arrow-down-c"></a></p>
    </div>

</script>

<script id="signin.html" type="text/ng-template">

    <div class="list list-inset">
        <label class="item item-input item-floating-label">
            <span class="input-label">用户名</span>
            <input type="text" ng-model="user.username" placeholder="用户名">
            <p ng-show="usernameMsg" class="help-block" style="color:#ef4e3a;">{{usernameMsg}}</p>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">密码</span>
            <input type="password" ng-model="user.password" placeholder="密码">
            <p ng-show="passwordMsg" class="help-block" style="color:#ef4e3a;">{{passwordMsg}}</p>
        </label>
    </div>
    <div class="padding">
        <div id="error"></div>
        <button nav-clear class="button button-block button-positive" ng-click="submit(user)">登录</button>
        <p class="text-center"><a class="positive" ui-sref="main.forgotpassword">忘记用户名、密码</a><br>
        <a ui-sref="main.buttons" class="button button-icon icon ion-arrow-down-c"></a></p>
    </div>

</script>

<script id="forgot-password.html" type="text/ng-template">
        <div class="list list-inset">
            <li class="item">
                <p class="text-center">请输入您的邮箱，获取您的账户信息</p>
            </li>
            <label class="item item-input item-floating-label">
                <span class="input-label">邮箱</span>
                <input type="email" ng-model="user.email" placeholder="邮箱">
                <p ng-show="emailReq" class="help-block" style="color:#ef4e3a;">{{emailReq}}</p>
            </label>
        </div>
<div class="padding">
    <button class="button button-block button-positive" ng-click="submit(user)">Send</button>
  <p class="text-center">返回到<a class="positive" ui-sref="main.signin">登录</a>.</p>
</div>
</script>

<script id="oauth.html" type="text/ng-template">
<ion-view hide-nav-bar="true" class="front-page" ng-style="{'background-image':'url(img/'+img+')'}">
    <ion-content scroll="false" class="padding">
        <div class="row">
            <div class="col"><p class="title-center" style="margin-top:40px;">心情V</p></div>
        </div>
            <div class="button-container">
            <div class="button-center"><img ng-click="oauth2_connect()" src="img/weibo-small.png"></div>
            <div class="button-center"><a href="#"><img src="img/weixin-small.png"></a></div>
            <div class="button-center"><a href="#"><img src="img/qq-small.png"></a></div>
            </div>
        <div class="page-bottom">
        <a ng-controller="LogOutCtrl" class="button button-block button-assertive" ng-click="logout()">注销</a>
        </div>
        </ion-content>
        </ion-view>
</script>
    
<script id="loading.html" type="text/ng-template">
<ion-view hide-nav-bar="true">
<ion-content scroll="false">
    <div class="load-face">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" does-continue="true" auto-play="true" slide-interval="500">
        <ion-slide>
            <img src="img/happy-small.png">
        </ion-slide>
        <ion-slide>
            <img src="img/cry-small.png">
        </ion-slide>
        <ion-slide>
            <img src="img/shy-small.png">
        </ion-slide>
        <ion-slide>
            <img src="img/angry-small.png">
        </ion-slide>
    </ion-slide-box>
    </div>
    <p class="text-center" id="load-face-text">正在建立您的心情DNA~</p>
</ion-content>
</ion-view>
</script>
    
<script id="tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-stable tabs-icon-top">
            <ion-tab title="首页" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline" href="#/tab/home/mood">
            <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="我的" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline" href="#/tab/profile">
            <ion-nav-view name="profile-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="更多" icon-on="ion-ios7-settings-strong" icon-off="ion-ios7-settings" href="#/tab/more">
            <ion-nav-view name="more-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </script>

<script id="home.html" type="text/ng-template">
<ion-view hide-nav-bar="true" title="首页">
    <ion-content>
        <ion-refresher
            pulling-icon="ion-ios7-arrow-thin-down"
            pulling-text="拉下刷新"
            on-refresh="doRefresh()"
            refreshing-text="正在刷新!"
            refreshing-icon="ion-ios7-reloading">
        </ion-refresher>
        <div ui-view="mood"></div>
        <div ui-view="rec"></div>
    </ion-content>
</ion-view>
</script>
    
<script id="rec.html" type="text/ng-template">
    <div class="rec">
        <span ng-model="rec">{{rec}}</span>
    </div>
    <div id="no-more"></div>
    <div class="rec-button-container">
    <div class="rec-button-center"><button class="button button-stable icon-left ion-sad" ng-click="getNew()">
        不好笑，再来一个
    </button></div>
    <div class="rec-button-center"><button class="button button-stable icon-left ion-happy" ng-click="share()">
        真好笑，我想分享
    </button></div>
    </div>
</script>
    
<script id="share.html" type="text/ng-template">
    <div ng-controller="RecCtrl">
        <label class="item item-input" ng-hide="posted">
            <textarea rows="5" resize="none" ng-model="status">{{status}}</textarea>
        <p ng-show="posted">{{posted}}</p>
        </label>
    </div>
</script>
    
<script id="mood.html" type="text/ng-template">
    <div class="banner" ng-class="mood.banner">
        <div class="row">
            <div class="col">
                <div class="banner-text">
                <p>现在心情：</p>
                <img ng-src="{{mood.imageUrl}}">
                </div>
            </div>
            <div class="col">
                <p style="font-family:SentyChinese;"></p>
            </div>
        </div>
    <p class="text-center padding-top">{{mood.message}}</p>
    </div>
</script>
    
<script id="profile.html" type="text/ng-template">
    <ion-view title="我的">
        <ion-content>
            <ion-refresher
                pulling-icon="ion-ios7-arrow-thin-down"
                pulling-text="拉下刷新"
                on-refresh="doRefresh()"
                refreshing-text="正在刷新!"
                 refreshing-icon="ion-ios7-reloading">
            </ion-refresher>
            <div ui-view="chart"></div>
        </ion-content>
    </ion-view>
</script>

<script id="chart.html" type="text/ng-template">
    <div class="chart-container"><div ac-chart="chartType" ac-data="data" ac-config="config" class='chart'></div></div>
</script>

<script id="more.html" type="text/ng-template">
    <ion-view title="更多">
        <ion-content class="padding">
            <button class="button button-outline button-block button-assertive" ng-click="logout()">注销</button>
            <button class="button button-outline button-block button-assertive" ng-click="revoke()">取消绑定</button>
        </ion-content>
    </ion-view>
</script>

</body>
</html>
